
	<style>
		*{
			padding: 0;
			margin: 0;
		}
		.top{
			background-image: url(../imgf/top.png);
			background-repeat: no-repeat;
			background-size:cover;
		}
		.ion-chevron-left{
			font-weight: normal;
		}
		.title{
			color: #fff;
		}
		.has-header{
			width: 100%;
			background-color: #F2F2F2;
		}
		.has-header li{
			float: left;
			width: 20%;
			height: 35px;
			background-color:#fff;
		}
		.has-header li a{
			width: 100%;
			height: 21px;
			line-height: 21px;
			margin-top: 7px;
			text-align:center;
			display: inline-block;
		    border-left: 1px solid #E0E0E0;
		    text-decoration: none;
		     color: #646464;	
		}
		.aa{
			border-bottom: 2px solid #663399;
		}
		.topp span{
			color: #ccc;
			display: inline-block;
		}
		.topp .ready{
			width: 50px;
			height: 20px;
			display: inline-block;
			float: right;
			color:#F15A5A;
			position: absolute;
			right: 10px;
			top:15px;
			/*display: inline-block;*/
		}
		.bann img{
			width: 100px;
			height: 100px;
			float: left;
			margin-right: 5px;
		}
		.bann h2{
			font-size: 14px;
		}
		.bann h2 span{
			color: #663399;
			font-weight: bold;
		}
		.bann h2 i{
			/*padding-right:0px;*/
			position: absolute;
			right: 10px;
			top: 82px;
		}
		.last h2{
			float: right;
		}
		.last h2 span{
			font-weight: bold;
			color: #663399;
		}
		.item button{
			clear: both;
			background-color: #663399;
			float: right;
			border-radius: 5px;
			color: #fff;
		}
		.list{
			margin-top: 10px;
		}
		.color{
			color:#663399;
		}
		.tt div{
			display: none;
		}
		.tt div:nth-child(1){
			display: block;
		}
	</style>
		<ion-header-bar class="top">
			        <button class="button button-clear" style="color: #fff;" ui-sref="^.back">
				         <i class="icon ion-chevron-left""></i>
			        </button>
		             <h2 class="title">订单管理</h2>  
		</ion-header-bar>
		<ion-content class="has-header">
			<ul id="uu">
				<li class="aa"><a href="#">全部</a></li>
				<li><a href="#">待付款</a></li>
				<li><a href="#">待发货</a></li>
				<li><a href="#">待收货</a></li>
				<li><a href="#">已完成</a></li>
			</ul>
				<ion-list>
		        	<ion-item class="item topp">
		        		 <i class="icon ion-ios-clock-outline"></i>
		        		 <span>2015-12-22 22:24</span>
		        		 <sapn class="ready">待付款</span>
		        	</ion-item>
		        	<ion-item class="item bann">
		        		<img src="imgf/come.png" />
		        		<h2>撼森点歌机家庭用KTV套装<br/><br/><br/><br/>
		        			<span>￥299</span>
		        			<i>数量: ×1</i>
		        		</h2>
		        	</ion-item>
		        	<ion-item class="item last">
		        		<h2>共计:<span>￥314.00</span></h2>
		        	</ion-item>
			    </ion-list>
			    <ion-list class="list">
		        	<ion-item class="item topp">
		        		 <i class="icon ion-ios-clock-outline"></i>
		        		 <span>2015-12-22 22:24</span>
		        		 <sapn class="ready">待发货</span>
		        	</ion-item>
		        	<ion-item class="item bann">
		        		<img src="imgf/family.png" />
		        		<h2>撼森点歌机家庭用KTV套装<br/><br/><br/><br/>
		        			<span>￥299</span>
		        			<i>数量: ×1</i>
		        		</h2>
		        	</ion-item>
		        	<ion-item class="item last">
		        		<h2>共计:<span>￥314.00</span></h2>
		        	</ion-item>
		        	<ion-item class="item">
		        		<button class="button">立即发货</button>
		        	</ion-item>
		    	</ion-list>
			
		        <!--<ion-list>
		        	<ion-item class="item topp">
		        		 <i class="icon ion-ios-clock-outline"></i>
		        		 <span>2015-12-22 22:24</span>
		        		 <sapn class="ready">待付款</span>
		        	</ion-item>
		        	<ion-item class="item bann">
		        		<img src="imgf/come.png" />
		        		<h2>撼森点歌机家庭用KTV套装<br/><br/><br/><br/>
		        			<span>￥299</span>
		        			<i>数量: ×1</i>
		        		</h2>
		        	</ion-item>
		        	<ion-item class="item last">
		        		<h2>共计:<span>￥314.00</span></h2>
		        	</ion-item>
		        </ion-list>
		         <ion-list class="list">
		        	<ion-item class="item topp">
		        		 <i class="icon ion-ios-clock-outline"></i>
		        		 <span>2015-12-22 22:24</span>
		        		 <sapn class="ready">待付款</span>
		        	</ion-item>
		        	<ion-item class="item bann">
		        		<img src="imgf/family.png" />
		        		<h2>撼森点歌机家庭用KTV套装<br/><br/><br/><br/>
		        			<span>￥299</span>
		        			<i>数量: ×1</i>
		        		</h2>
		        	</ion-item>
		        	<ion-item class="item last">
		        		<h2>共计:<span>￥314.00</span></h2>
		        	</ion-item>
		        </ion-list>
		</div>
		<div>
		        <ion-list>
		        	<ion-item class="item topp">
		        		 <i class="icon ion-ios-clock-outline"></i>
		        		 <span>2015-12-22 22:24</span>
		        		 <sapn class="ready">待发货</span>
		        	</ion-item>
		        	<ion-item class="item bann">
		        		<img src="imgf/come.png" />
		        		<h2>撼森点歌机家庭用KTV套装<br/><br/><br/><br/>
		        			<span>￥299</span>
		        			<i>数量: ×1</i>
		        		</h2>
		        	</ion-item>
		        	<ion-item class="item last">
		        		<h2>共计:<span>￥314.00</span></h2>
		        	</ion-item>
		        	<ion-item class="item">
		        		<button class="button">立即发货</button>
		        	</ion-item>
		        </ion-list>
		         <ion-list class="list">
		        	<ion-item class="item topp">
		        		 <i class="icon ion-ios-clock-outline"></i>
		        		 <span>2015-12-22 22:24</span>
		        		 <sapn class="ready">待发货</span>
		        	</ion-item>
		        	<ion-item class="item bann">
		        		<img src="imgf/family.png" />
		        		<h2>撼森点歌机家庭用KTV套装<br/><br/><br/><br/>
		        			<span>￥299</span>
		        			<i>数量: ×1</i>
		        		</h2>
		        	</ion-item>
		        	<ion-item class="item last">
		        		<h2>共计:<span>￥314.00</span></h2>
		        	</ion-item>
		        	<ion-item class="item">
		        		<button class="button">立即发货</button>
		        	</ion-item>
		        </ion-list>
			</div>
			<div>
		        <ion-list>
		        	<ion-item class="item topp">
		        		 <i class="icon ion-ios-clock-outline"></i>
		        		 <span>2015-12-22 22:24</span>
		        		 <sapn class="ready">待收货</span>
		        	</ion-item>
		        	<ion-item class="item bann">
		        		<img src="imgf/come.png" />
		        		<h2>撼森点歌机家庭用KTV套装<br/><br/><br/><br/>
		        			<span>￥299</span>
		        			<i>数量: ×1</i>
		        		</h2>
		        	</ion-item>
		        	<ion-item class="item last">
		        		<h2>共计:<span>￥314.00</span></h2>
		        	</ion-item>
		        </ion-list>
		         <ion-list class="list">
		        	<ion-item class="item topp">
		        		 <i class="icon ion-ios-clock-outline"></i>
		        		 <span>2015-12-22 22:24</span>
		        		 <sapn class="ready">待收货</span>
		        	</ion-item>
		        	<ion-item class="item bann">
		        		<img src="imgf/family.png" />
		        		<h2>撼森点歌机家庭用KTV套装<br/><br/><br/><br/>
		        			<span>￥299</span>
		        			<i>数量: ×1</i>
		        		</h2>
		        	</ion-item>
		        	<ion-item class="item last">
		        		<h2>共计:<span>￥314.00</span></h2>
		        	</ion-item>
		        </ion-list>
			</div>
			<div>
		        <ion-list>
		        	<ion-item class="item topp">
		        		 <i class="icon ion-ios-clock-outline"></i>
		        		 <span>2015-12-22 22:24</span>
		        		 <sapn class="ready">已签收</span>
		        	</ion-item>
		        	<ion-item class="item bann">
		        		<img src="imgf/come.png" />
		        		<h2>撼森点歌机家庭用KTV套装<br/><br/><br/><br/>
		        			<span>￥299</span>
		        			<i>数量: ×1</i>
		        		</h2>
		        	</ion-item>
		        	<ion-item class="item last">
		        		<h2>共计:<span>￥314.00</span></h2>
		        	</ion-item>
		        </ion-list>
		         <ion-list class="list">
		        	<ion-item class="item topp">
		        		 <i class="icon ion-ios-clock-outline"></i>
		        		 <span>2015-12-22 22:24</span>
		        		 <sapn class="ready">已签收</span>
		        	</ion-item>
		        	<ion-item class="item bann">
		        		<img src="imgf/family.png" />
		        		<h2>撼森点歌机家庭用KTV套装<br/><br/><br/><br/>
		        			<span>￥299</span>
		        			<i>数量: ×1</i>
		        		</h2>
		        	</ion-item>
		        	<ion-item class="item last">
		        		<h2>共计:<span>￥314.00</span></h2>
		        	</ion-item>
		        </ion-list>
		    </div>
	    </div>-->
	</ion-content>

