<ion-tabs class="tabs-icon-top">
			  <ion-tab title="首页" icon-on="ion-home" ui-sref=".home" icon-off="ion-home">
			     <ion-nav-view name="home"></ion-nav-view>
			  </ion-tab>
			
			  <ion-tab title="消息" icon-on="ion-chatbox" ui-sref=".chat" icon-off="ion-chatbox">
			  	   <ion-nav-view name="chat"></ion-nav-view>
			  </ion-tab>
			
			  <ion-tab title="购物车" icon-on="ion-ios-cart" ui-sref=".ddgla"icon-off="ion-ios-cart">
			    <ion-nav-view name="ddgla"></ion-nav-view>
			  </ion-tab>

</ion-tabs>
